%h2 NMSU ICT435 Senior Project
%h2 Ride Board
.team_container
  %p Client: 
  %p= link_to "Karen Herny", senior_team_client_path
   
  %p TEAM
  %p= link_to "Zac Smith, Team Lead", senior_team_zac_path
  %p= link_to "Shawna Howard", senior_team_shawna_path
  %p= link_to "Michael Romero",  senior_team_michael_path
  %p= link_to "Bryant Garcia",  senior_team_bryant_path
  %p= link_to "Eric Diaz",  senior_team_eric_path
  %p= link_to "Louis Bear Eagle", senior_team_louis_path
  